label {
    font-family: 'Platform-Light';
}

.border-gris {
    border-color:#ced4da !important;
}

.border-radius {
    border-radius: 4px;
}

.card-header-bb {
    border-bottom: none;
}

.disable-element {
    opacity: 0.5;
    pointer-events: none;
    cursor: not-allowed !important;
}