<div class="row">
    <div class="col-12">
        <h5 class="platform-regular">Referencias <span class="badge bg-rosado text-white mt-2">{{referencias.length - 1}}
                registro(s)</span></h5>
        <hr />
    </div>
    <div *ngFor="let i of referencias; index as j;" class="col-12">
        <div class="card shadow-none border border-gris border-radius">
            <div (click)="collapseRef[j]=!collapseRef[j]" data-toggle="collapse" attr.href="#collapse-ref-{{j}}"
                class="card-header">
                <a class="text-dark float-right"><i class="fas fa-chevron-{{collapseRef[j]? 'down':'up'}}"></i></a>
                <div class="row">
                    <div *ngIf="i.id == null" class="col-12">
                        <h5 class="card-title platform-regular text-rosado">Nuevo registro</h5>
                    </div>
                    <div *ngIf="i.id != null" class="col-12">
                        <h5 class="card-title platform-regular">{{j+ 1}}- {{i.nombre}}</h5>
                    </div>
                </div>
            </div>
            <div class="card-body collapse" id="collapse-ref-{{j}}">
                <div class="row">
                    <div class="col-12 col-sm-6 col-md-4">
                        <label>Nombre</label>
                        <div class="input-group mb-3">
                            <input [(ngModel)]="i.nombre" name="nombre-{{j}}" type="text" class="form-control"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <label>Parentesco</label>
                        <div class="input-group mb-3">
                            <input [(ngModel)]="i.parentesco" name="parentesco-{{j}}" type="text" class="form-control"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-4">
                        <label>Contacto</label>
                        <div class="input-group mb-3">
                            <input [(ngModel)]="i.contacto" name="contacto-{{j}}" type="text" class="form-control"
                                aria-label="Sizing example input" aria-describedby="inputGroup-sizing-sm">
                        </div>
                    </div>

                    <div class="col-12">
                        <button (click)="postReferencia(i)" *ngIf="i.id == null"
                            class="btn btn-sm bg-rosado text-white border-rosado platform-regular float-right">Guardar</button>
                        <button (click)="putReferencia(i)" *ngIf="i.id != null"
                            class="btn btn-sm bg-rosado text-white border-rosado platform-regular ml-2 float-right">Actualizar</button>
                        <button (click)="deleteReferencia(i.id, j)" *ngIf="i.id != null"
                            class="btn btn-sm btn-outline-negro platform-regular float-right">Eliminar</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>