<div class="container">
    <div class="row h-100">
        <div class="col-12 col-sm-6">
            <h4 class="platform-light text-black-50 mt-3">Dominios</h4>
        </div>
        <div class="col-12 col-sm-6 my-auto text-right">
            <button class="btn btn-sm bg-rosado text-white platform-regular" data-toggle="modal"
                data-target="#agregarDominio">
                <i class="fas fa-plus mr-2"></i>
                Agregar dominio
            </button>
        </div>
        <div class="col-12 my-2">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th style="width: 20%;" class="text-center" scope="col">#</th>
                        <th style="width: 60%;" scope="col">Nombre</th>
                        <th style="width: 20%;" class="text-center" scope="col">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr
                        *ngFor="let i of dominios | paginate: {id:'dominios-paginator', itemsPerPage: itemspp, currentPage: p }; index as j;">
                        <td class="text-center">{{ ((p-1)*itemspp) + (j+1)}}.</td>
                        <td>{{i.nombre}}</td>
                        <td class="text-center">
                            <a (click)="dominioEdit=i;" data-toggle="modal" data-target="#editarDominio" title="Editar"><i class="fas fa-pencil-alt fa-lg mr-2"></i></a>
                            <a (click)="dominioDelete=i;dominioDeletePos=j;" data-toggle="modal" data-target="#eliminarDominio"  title="Eliminar"><i class="fas fa-trash-alt fa-lg"></i></a>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-12 text-center">
            <pagination-controls class="my-pagination" id="dominios-paginator" (pageChange)="p = $event" previousLabel=""
                nextLabel="" screenReaderPaginationLabel="Pagination">
            </pagination-controls>
        </div>
    </div>
</div>

<div class="modal fade" id="agregarDominio" tabindex="-1" role="dialog" aria-labelledby="agregarDominioLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="agregarDominioLabel">Agregar dominio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <label for="">Nombre del dominio</label>
                        <div class="input-group mb-3">
                            <input [(ngModel)]="dominioAdd.nombre" type="text" class="form-control" placeholder="Nombre" aria-label="Nombre">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                <button (click)="postDominio()" type="button" class="btn bg-rosado text-white" data-dismiss="modal">Guardar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="editarDominio" tabindex="-1" role="dialog" aria-labelledby="editarDominioLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editarDominioLabel">Editar dominio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12">
                        <label for="">Nombre del dominio</label>
                        <div class="input-group mb-3">
                            <input [(ngModel)]="dominioEdit.nombre" type="text" class="form-control" placeholder="Nombre" aria-label="Nombre">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button (click)="putDominio()" type="button" class="btn bg-rosado text-white" data-dismiss="modal">Actualizar</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="eliminarDominio" tabindex="-1" role="dialog" aria-labelledby="eliminarDominioLabel"
    aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="eliminarDominioLabel">Eliminar dominio</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="platform-regular text-black-50 m-0">Dominio: {{dominioDelete.nombre}} <br>
                    ¿Desea eliminar el dato?
                </p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                <button (click)="deleteDominio()" type="button" class="btn bg-rosado text-white" data-dismiss="modal">Eliminar</button>
            </div>
        </div>
    </div>
</div>

