<div class="wrapper">
    <div class="row m-0 h-100">
        <div class="col-12 d-md-none my-3">
            <div class="text-center d-md-none" style="cursor: pointer;" title="Ver empleos" routerLink="/">
                <img class="animated fadeInDown" src="assets/images/personal_logo.png" alt="">
                <h5 class="text-white platform-regular animated fadeInDown">Portal de empleos - Registro</h5>
            </div>
        </div>
        <div class="col-12 col-md-10 offset-md-1 col-lg-8 offset-lg-2 my-auto">
            <div class="card py-4 shadow animated fadeIn">
                <div class="card-body bg-white">
                    <form class="row">
                        <div class="form-group col-12 col-md-6">
                            <label for="user" class="comfortaa-bold text-lila">Nro. CI</label>
                            <input type="email" class="form-control" id="user">
                        </div>
                        <div class="form-group col-12 col-md-6">
                            <label for="user" class="comfortaa-bold text-lila">Nombres</label>
                            <input type="email" class="form-control" id="user">
                        </div>
                        <div class="form-group col-12 col-md-6">
                            <label for="user" class="comfortaa-bold text-lila">Apellidos</label>
                            <input type="email" class="form-control" id="user">
                        </div>
                        <div class="form-group col-12 col-md-6">
                            <label for="user" class="comfortaa-bold text-lila">Correo Electrónico</label>
                            <input type="email" class="form-control" id="user">
                        </div>
                        <div class="form-group col-12 col-md-6">
                            <label for="user" class="comfortaa-bold text-lila">Contraseña</label>
                            <input type="email" class="form-control" id="user">
                        </div>
                        <div class="form-group col-12 col-md-6">
                            <label for="user" class="comfortaa-bold text-lila">Repetir Contraseña</label>
                            <input type="email" class="form-control" id="user">
                        </div>
                        <div class="col-12 col-sm-8 offset-sm-2 text-center mt-3">
                            <button type="submit"
                                class="btn btn-primary btn-block bg-lila border-lila comfortaa-bold">Registrarse</button>
                        </div>

                        <div class="col-12 text-center mt-4 comfortaa">
                            <small>
                                ¿Ya tienes una cuenta? <a class="text-lila" style="cursor: pointer;" routerLink="/login">Ingresar</a>
                            </small>

                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-12 d-md-none my-3">
            <h5 class="text-center text-white platform-light animated fadeInDown">
                Ir al sitio de <a class="platform-regular text-white link"
                    href="https://www.personal.com.py/">personal.com.py</a>
            </h5>
        </div>
    </div>
</div>
<particles [params]="myParams" [style]="myStyle" [width]="width" [height]="height"></particles>
<div class="img text-center d-none d-md-block" style="cursor: pointer;" title="Ver empleos" routerLink="/">
    <img class="animated fadeInRight" src="assets/images/personal_logo.png" alt="">
    <h5 class="text-white platform-regular animated fadeInRight">Portal de empleos</h5>
</div>


<div class="link-personal text-center d-none d-md-block">
    <h5 class="text-white platform-light animated fadeInDown">
        Ir al sitio de <a class="platform-regular text-white link"
            href="https://www.personal.com.py/">personal.com.py</a>
    </h5>
</div>