<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="platform-light text-black-50 mt-3">Usuarios</h2>
        </div>
        <div class="col-12">
            <h5 class="platform-light text-rosado">Filtros</h5>
        </div>
        <div class="col-12 col-sm-6 col-md-8 col-lg-9">
            <div class="input-group mb-3">
                <input [(ngModel)]="tableManager.params.filters" type="text" class="form-control"
                    placeholder="Nombre, Documento, F. Nac., Email" aria-describedby="buscar">
            </div>
        </div>
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
            <div class="input-group mb-3">
                <select [(ngModel)]="tableManager.params.can" class="custom-select">
                    <option value="10">10 items por pág.</option>
                    <option value="20">20 items por pág.</option>
                    <option value="30">30 items por pág.</option>
                </select>
            </div>
        </div>
        <div class="col-12">
            <button (click)="getUsuarios(1)" class="btn btn-sm bg-rosado border-rosado text-white float-right mb-3" type="submit" id="buscar">
                <i class="fas fa-search mr-2"></i>Aplicar filtros
            </button>
            <button (click)="limpiarFiltros()" class="btn btn-sm btn-outline-negro mr-2 float-right" type="submit" id="buscar">
                Limpiar filtros
            </button>
        </div>
        <div class="col-12">
            <!-- Table screen >= 768px -->
            <div class="d-none d-md-block bg-white">
                <table [class.loading]="loading" class="table table-bordered table-striped" id="dataTable" width="100%"
                    cellspacing="0">
                    <thead>
                        <tr>
                            <th *ngFor="let i of tableManager.headers; index as j"
                                (click)="tableManager.sortBy(j);getUsuarios(p)">
                                <span class="platform-light text-rosado">{{i.columnName}}</span>
                                <span class="text-gris-claro">
                                    <i *ngIf="i.sortable" [class.text-rosado]="i.sort && i.dir=='ASC'"
                                        class="fas fa-long-arrow-alt-up ml-1"></i>
                                    <i *ngIf="i.sortable" [class.text-rosado]="i.sort && i.dir=='DESC'"
                                        class="fas fa-long-arrow-alt-down"></i>
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let i of personas | paginate: { id: 'server', itemsPerPage: tableManager.params.can, currentPage: p, totalItems:total }">
                            <td>
                                {{i.documento}}
                            </td>
                            <td>
                                {{i.nombres + ' ' + i.apellidos}}
                            </td>
                            <td>{{i.fecha_nacimiento != null? i.fecha_nacimiento:'No registrado'}}</td>
                            <td>{{i.email}}</td>
                            <td>
                                <div class="text-center">
                                    <a style="cursor: pointer;" title="Ver detalles">
                                        <i class="fas fa-info-circle fa-lg text-gris"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Mobile table screen < 768px -->
            <!-- <ul [class.loading]="loading" class="list-group list-group-flush d-md-none">
                <li [class.loading]="loading"
                    *ngFor="let i of facturas | paginate: { id: 'server', itemsPerPage: 10, currentPage: p, totalItems:total }"
                    class="list-group-item">
                    <div class="row">
                        <div class="col-12">
                            <p>
                                <span class="text-azul montserrat-bold">Nro: </span>
                                <span class="montserrat-bold mobile-data-table">{{i.numeroFactura}}</span>
                            </p>
                            <p>
                                <span class="text-azul montserrat-bold">Fecha: </span>
                                <span class="montserrat-bold mobile-data-table">{{i.fechaFactura}}</span>
                            </p>
                            <p>
                                <span class="text-azul montserrat-bold">Importe Total: </span>
                                <span class="montserrat-bold mobile-data-table">{{i.importeTotal}}</span>
                            </p>
                            <p>
                                <span class="text-azul montserrat-bold">IVA 10%: </span>
                                <span class="montserrat-bold mobile-data-table">{{i.iva10}}</span>
                            </p>
                            <p>
                                <span class="text-azul montserrat-bold">IVA 5%: </span>
                                <span class="montserrat-bold mobile-data-table">{{i.iva5}}</span>
                            </p>
                            <p class="text-center m-0">
                                <span class="text-azul montserrat-bold">
                                    <a class="animated fadeInLeft" style="cursor: pointer;" title="Ver detalles"
                                        (click)="setDataModalDetalles(i)" data-toggle="modal"
                                        data-target="#modalDetalles"><i
                                            class="fas fa-info-circle fa-lg text-gris"></i></a>
                                </span>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
            <div *ngIf="screenWidth < 768" class="mb-1" style="height: 1rem;">
                <div class="text-center">
                    <div *ngIf="loading && screenWidth < 768" class="spinner-border spinner-border-sm text-success"
                        role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="col-12">
            <div class="float-left">

            </div>
            <div class="text-center">
                <pagination-controls id="server" class="my-pagination" (pageChange)="getUsuarios($event)"
                    previousLabel="" nextLabel="">
                </pagination-controls>
            </div>
        </div>

    </div>
</div>