<div class="container">
    <div class="row">
        <div class="col-12">
            <h2 class="platform-light text-black-50 mt-3">Usuarios</h2>
        </div>
        <div class="col-12 my-2">
            <button data-toggle="modal" data-target="#modalFiltros"
                class="btn btn-sm bg-rosado text-white platform-regular mr-2"><i
                    class="fas fa-search mr-2"></i>Filtros</button>
            <div class="btn-group">
                <button type="button" class="btn btn-sm bg-rosado text-white platform-regular dropdown-toggle"
                    data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-file-export mr-2"></i>Exportar
                </button>
                <div class="dropdown-menu">
                    <a class="dropdown-item" href="#">Todos los cvs</a>
                    <a class="dropdown-item" href="#">Cvs de hoy</a>
                </div>
            </div>
        </div>
        <div class="col-12">
            <!-- Table screen >= 768px -->
            <div class="d-none d-md-block bg-white">
                <table [class.loading]="loading" class="table table-bordered table-striped" id="dataTable" width="100%"
                    cellspacing="0">
                    <thead>
                        <tr>
                            <th *ngFor="let i of tableManager.headers; index as j"
                                (click)="tableManager.sortBy(j);getUsuarios(p)">
                                <span class="platform-light text-rosado">{{i.columnName}}</span>
                                <span class="text-gris-claro">
                                    <i *ngIf="i.sortable" [class.text-rosado]="i.sort && i.dir=='ASC'"
                                        class="fas fa-long-arrow-alt-up ml-1"></i>
                                    <i *ngIf="i.sortable" [class.text-rosado]="i.sort && i.dir=='DESC'"
                                        class="fas fa-long-arrow-alt-down"></i>
                                </span>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr
                            *ngFor="let i of personas | paginate: { id: 'server', itemsPerPage: tableManager.params.can, currentPage: p, totalItems:total }">
                            <td>
                                {{i.documento}}
                            </td>
                            <td>
                                {{i.nombres + ' ' + i.apellidos}}
                            </td>
                            <td>{{i.fecha_nacimiento != null? i.fecha_nacimiento:'No registrado'}}</td>
                            <td>{{i.email}}</td>
                            <td>
                                <div class="text-center">
                                    <a style="cursor: pointer;" title="Editar usuario">
                                        <i class="fas fa-pencil-alt fa-lg text-rosado mr-1"></i>
                                    </a>
                                    <a style="cursor: pointer;" title="Ver CV">
                                        <i class="fas fa-portrait fa-lg text-rosado mr-1"></i>
                                    </a>
                                    <a style="cursor: pointer;" title="Agendar">
                                        <i class="fas fa-user-clock fa-lg text-rosado mr-1"></i>
                                    </a>
                                    <a style="cursor: pointer;" title="Postulaciones">
                                        <i class="fas fa-user-check fa-lg text-rosado"></i>
                                    </a>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
            <!-- Mobile table screen < 768px -->
            <!-- <ul [class.loading]="loading" class="list-group list-group-flush d-md-none">
                <li [class.loading]="loading"
                    *ngFor="let i of facturas | paginate: { id: 'server', itemsPerPage: 10, currentPage: p, totalItems:total }"
                    class="list-group-item">
                    <div class="row">
                        <div class="col-12">
                            <p>
                                <span class="text-azul montserrat-bold">Nro: </span>
                                <span class="montserrat-bold mobile-data-table">{{i.numeroFactura}}</span>
                            </p>
                            <p>
                                <span class="text-azul montserrat-bold">Fecha: </span>
                                <span class="montserrat-bold mobile-data-table">{{i.fechaFactura}}</span>
                            </p>
                            <p>
                                <span class="text-azul montserrat-bold">Importe Total: </span>
                                <span class="montserrat-bold mobile-data-table">{{i.importeTotal}}</span>
                            </p>
                            <p>
                                <span class="text-azul montserrat-bold">IVA 10%: </span>
                                <span class="montserrat-bold mobile-data-table">{{i.iva10}}</span>
                            </p>
                            <p>
                                <span class="text-azul montserrat-bold">IVA 5%: </span>
                                <span class="montserrat-bold mobile-data-table">{{i.iva5}}</span>
                            </p>
                            <p class="text-center m-0">
                                <span class="text-azul montserrat-bold">
                                    <a class="animated fadeInLeft" style="cursor: pointer;" title="Ver detalles"
                                        (click)="setDataModalDetalles(i)" data-toggle="modal"
                                        data-target="#modalDetalles"><i
                                            class="fas fa-info-circle fa-lg text-gris"></i></a>
                                </span>
                            </p>
                        </div>
                    </div>
                </li>
            </ul>
            <div *ngIf="screenWidth < 768" class="mb-1" style="height: 1rem;">
                <div class="text-center">
                    <div *ngIf="loading && screenWidth < 768" class="spinner-border spinner-border-sm text-success"
                        role="status">
                        <span class="sr-only">Loading...</span>
                    </div>
                </div>
            </div> -->
        </div>
        <div class="col-12">
            <div class="float-left">

            </div>
            <div class="text-center">
                <pagination-controls id="server" class="my-pagination" (pageChange)="getUsuarios($event)"
                    previousLabel="" nextLabel="">
                </pagination-controls>
            </div>
        </div>

    </div>
</div>

<div class="modal fade" id="modalFiltros" tabindex="-1" role="dialog" aria-labelledby="modalFiltrosLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title platform-regular text-black-50" id="modalFiltrosLabel">Filtros</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-12 col-md-6">
                        <label for="" class="text-rosado">Nro. Documento</label>
                        <div class="input-group mb-3">
                            <input [(ngModel)]="filters.documento" type="text" class="form-control"
                                placeholder="Nombres" aria-describedby="documento">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="" class="text-rosado">Nombres</label>
                        <div class="input-group mb-3">
                            <input [(ngModel)]="filters.nombres" type="text" class="form-control"
                                placeholder="Nombres" aria-describedby="nombres">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="" class="text-rosado">Apellidos</label>
                        <div class="input-group mb-3">
                            <input [(ngModel)]="filters.apellidos" type="text" class="form-control"
                                placeholder="Apellidos" aria-describedby="apellidos">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="" class="text-rosado">F. Nacimiento</label>
                        <div class="input-group mb-3">
                            <input [(ngModel)]="filters.fecha_nacimiento" type="date" class="form-control"
                                placeholder="Fecha Nac." aria-describedby="fecha_nacimiento">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="" class="text-rosado">País</label>
                        <div class="input-group mb-3">
                            <select [(ngModel)]="filters.pais"  name="pais" class="custom-select" id="pais">
                                <option selected disabled>Elegir</option>
                                <option *ngFor="let i of paises" [value]="i">{{i}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="" class="text-rosado">Ciudad</label>
                        <div class="input-group mb-3">
                            <input [(ngModel)]="filters.ciudad" type="text" class="form-control"
                                placeholder="Ciudad" aria-describedby="Ciudad">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="" class="text-rosado">Email</label>
                        <div class="input-group mb-3">
                            <input [(ngModel)]="filters.email" type="text" class="form-control"
                                placeholder="Email" aria-describedby="Email">
                        </div>
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="" class="text-rosado">Items por página</label>
                        <div class="input-group mb-3">
                            <select [(ngModel)]="tableManager.params.can" class="custom-select">
                                <option value="10">10</option>
                                <option value="20">20</option>
                                <option value="30">30</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button data-dismiss="modal" (click)="getUsuarios(1)"
                    class="btn btn-sm bg-rosado border-rosado text-white float-right" type="submit" id="buscar">
                    <i class="fas fa-search mr-2"></i>Aplicar filtros
                </button>
                <button data-dismiss="modal" (click)="limpiarFiltros()"
                    class="btn btn-sm btn-outline-negro mr-2 float-right" type="submit" id="buscar">
                    Limpiar filtros
                </button>
            </div>
        </div>
    </div>
</div>