.my-pagination /deep/ .ngx-pagination .current {
  background: #d9186b;
}

.card-footer {
  border-top: 1px solid rgba(0, 0, 0, 0.125) !important;
}

.border-gris {
  border-color:#ced4da !important;
}

.active {
  background-color: #d9186b !important;
}

.scroll {
  max-height: 200px;
  overflow-y: auto;
}