<div class="container-fluid bg min-vh-100">
    <div class="row min-vh-100">
        <div class="col-12 col-sm-8 offset-sm-2 col-md-6 offset-md-3 col-lg-4 offset-lg-4 my-auto">
            <div class="card py-3 animated fadeIn">
                <div class="card-body">
                    <form class="row">
                        <div class="col-12 d-md-none text-center text-rosado platform-regular mb-2">
                            <img src="assets/images/personal_logo_rosado.png" alt="">
                            <h4>Portal de Empleos</h4>
                        </div>
                        <div class="col-12 form-group">
                            <label style="letter-spacing: 1.1px;" class="text-black-50 platform-light" for="email">Correo Electrónico</label>
                            <input type="email" class="form-control" id="email">
                        </div>
                        <div class="col-12 form-group">
                            <label style="letter-spacing: 1.1px;" class="text-black-50 platform-light" for="pass">Contraseña</label>
                            <input type="password" class="form-control" id="pass">
                        </div>
                        <div class="col-10 offset-1 col-md-8 offset-md-2">
                            <button type="submit" class="btn btn-block bg-rosado border-rosado platform-regular text-white">Ingresar</button>
                        </div>
                        <div class="col-12 text-center mt-4 text-black-50">
                            ¿No tienes una cuenta? <a routerLink="/register" href="#"><span class="text-rosado platform-regular">Registrarse</span></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="logo-lg text-center animated fadeInRight d-none d-md-block">
    <img src="assets/images/personal_logo.png" alt="">
    <h4 class="text-white platform-regular">Portal de Empleos</h4>
</div>