<div class="bg min-vh-100">
    <!-- Mobile xsm < 576px y sm < 768px  -->
    <div class="container min-vh-100 d-md-none">
        <div class="row min-vh-100">
            <div class="col-12 my-auto">
                <div class="card contact shadow animated fadeInDown my-2">
                    <div class="card-body platform-regular text-white">
                        <div class="row">
                            <div class="col-12">
                                <div class="text-center">
                                    <img class="animated pulse delay-2s" src="assets/images/personal_logo.png" alt="">
                                </div>
                                <hr />
                            </div>
                            <div class="col-12">
                                <h4 class="w-100 text-center">Portal de empleos</h4>
                            </div>
                            <div class="col-12">
                                <p class="text-mobile">Registrate e ingresá al portal para poder ver las ofertas
                                    laborales
                                    disponibles
                                    de Personal en todo el Paraguay y postulate al que más se adapte a tu perfil
                                    laboral.
                                </p>
                            </div>
                            <div class="col-8 offset-2 my-2">
                                <button
                                    class="btn btn-block bg-rosado text-white border-rosado animated pulse delay-2s">Iniciar
                                    Sesión</button>
                            </div>
                            <div class="col-8 offset-2 my-2">
                                <button
                                    class="btn btn-block bg-rosado text-white border-rosado animated pulse delay-2s">Registrarse</button>
                            </div>
                            <div class="col-12">
                                <h5>Contacto</h5>
                                <p class="mb-0"><i class="fas fa-envelope mr-1"></i>curriculum@personal.com.py</p>
                                <p><i class="fas fa-phone-alt mr-1"></i>+281456123</p>
                                <hr />
                            </div>
                            <!-- Redes sociales -->
                            <div class="col-2">
                                <div class="w-100 text-center">
                                    <a href="#"><i class="text-white fab fa-linkedin fa-lg"></i></a>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="w-100 text-center">
                                    <a href="#"><i class="text-white fab fa-facebook fa-lg"></i></a>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="w-100 text-center">
                                    <a href="#"><i class="text-white fab fa-twitter fa-lg"></i></a>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="w-100 text-center">
                                    <a href="#"><i class="text-white fab fa-instagram fa-lg"></i></a>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="w-100 text-center">
                                    <a href="#"><i class="text-white fab fa-youtube fa-lg"></i></a>
                                </div>
                            </div>
                            <div class="col-2">
                                <div class="w-100 text-center">
                                    <a href="#"><i class="text-white fab fa-foursquare fa-lg"></i></a>
                                </div>
                            </div>
                            <div class="col-12 text-center mt-2 text-white">
                                Ir al sitio web <a style="cursor: pointer; text-decoration: underline;"
                                    class="platform-regular text-white"
                                    href="https://www.personal.com.py/">personal.com.py</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Tablets y superiores md >= 768px  -->
    <div class="container-fluid d-none d-md-block p-0">
        <div class="row m-0 p-2 contact">
            <div class="col-md-12 col-lg-6 text-lg-left text-center">
                <div class="animated fadeInDown w-100">
                    <a class="mx-2 text-white" href="#"><i class="fab fa-linkedin fa-lg"></i></a>
                    <a class="mx-2 text-white" href="#"><i class="fab fa-facebook fa-lg"></i></a>
                    <a class="mx-2 text-white" href="#"><i class="fab fa-twitter fa-lg"></i></a>
                    <a class="mx-2 text-white" href="#"><i class="fab fa-instagram fa-lg"></i></a>
                    <a class="mx-2 text-white" href="#"><i class="fab fa-youtube fa-lg"></i></a>
                    <a class="mx-2 text-white" href="#"><i class="fab fa-foursquare fa-lg"></i></a>
                </div>
            </div>
            <div class="col-md-12 col-lg-6 text-lg-right text-center">
                <div class="animated fadeInDown w-100">
                    <p class="mb-0 platform-regular text-white">
                        <span class="mx-2"><i class="fas fa-envelope mr-1"></i>curriculum@personal.com.py</span>
                        <span class="mx-2"><i class="fas fa-phone-alt mr-1"></i>+281456123</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="row m-2">
            <div class="col-md-12 p-2">
                <img class="animated pulse delay-1s" src="assets/images/personal_logo.png" alt="">
                <button routerLink="/login" class="btn btn-lg bg-rosado border-rosado text-white ml-2 float-right platform-regular 
                    animated fadeInDown ">Iniciar Sesión</button>
                <button routerLink="/register" class="btn btn-lg bg-rosado border-rosado text-white float-right platform-regular 
                    animated fadeInDown ">Registrarse</button>
                <hr />
            </div>
        </div>
        <div class="row  mx-0 bt-page p-2">
            <div class="col-12 text-white platform-regular animated fadeIn">
                <span class="title-lg">Portal de Empleos</span>
                <h3>Registrate y descrubrí todo lo que tenemos para vos</h3>
            </div>
        </div>

    </div>
</div>
