.nav-link:hover {
  color: #d9186b !important;
  opacity: 0.8 !important;
}

#profile {
  display: none;
}

.pencil:hover {
  opacity: 1;
}

.pencil {
  position: absolute;
  bottom: 10px;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  opacity: 0.4;
}

#foto-perfil-view img {
  width: 100px !important;
  height: auto !important;
}
