<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item" style="width: 25%;">
        <a class="nav-link active text-rosado platform-regular text-center" href="#datos-personales" role="tab"
            data-toggle="tab">
            <i class="fas fa-user fa-lg mr-2"></i> <span class="d-none d-md-block">Datos Personales</span>
        </a>
    </li>
    <li class="nav-item" style="width: 25%;">
        <a class="nav-link text-rosado platform-regular text-center" href="#educacion" role="tab" data-toggle="tab">
            <i class="fas fa-graduation-cap fa-lg mr-2"></i><span class="d-none d-md-block">Educación</span>
        </a>
    </li>
    <li class="nav-item" style="width: 25%;">
        <a class="nav-link text-rosado platform-regular text-center" href="#experiencias" role="tab" data-toggle="tab">
            <i class="fas fa-briefcase fa-lg mr-2"></i><span class="d-none d-md-block">Experiencias</span>
        </a>
    </li>
    <li class="nav-item" style="width: 25%;">
        <a class="nav-link text-rosado platform-regular text-center" href="#referencias" role="tab" data-toggle="tab">
            <i class="fas fa-phone-alt fa-lg mr-2"></i><span class="d-none d-md-block">Referencias</span>
        </a>
    </li>
</ul>
<div class="row">
    <!-- /.col -->
    <div class="col-12">
        <!-- Widget: user widget style 1 -->
        <div class="card">
            <div class="card-header bg-negro">
                <div class="row">
                    <div class="col-12">
                        <div class="text-center position-relative" id="foto-perfil-view">
                            <input (change)="handleFiles($event)" type="file" id="profile">
                            <span (click)="selectImage()" class="pencil cursor-pointer">
                                <i class="fas fa-camera text-white fa-lg d-block"></i>
                                <!-- <small class="text-white">Seleccionar</small> -->
                            </span>
                        </div>
                        <h3 class="mt-2 text-white platform-light text-center">
                            {{persona.nombres != null? persona.nombres: ""}}
                            {{persona.apellidos != null? persona.apellidos:""}}</h3>
                        <div class="text-center">
                            <button class="btn btn-sm bg-rosado text-white border-rosado platform-regular">Descargar
                                CV</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-12">
                        <!-- Tab panes -->
                        <div class="tab-content">
                            <div role="tabpanel" class="tab-pane fade" id="datos-personales">
                                <app-datos-personales [datosPersonales]="persona"></app-datos-personales>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="educacion">
                                <app-datos-educacion></app-datos-educacion>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="experiencias">
                                <app-datos-experiencias></app-datos-experiencias>
                            </div>
                            <div role="tabpanel" class="tab-pane fade" id="referencias">
                                <app-datos-referencias></app-datos-referencias>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->
            </div>
        </div>
        <!-- /.widget-user -->
    </div>
    <!-- /.col -->
</div>
<app-spinner [visible]="loading"></app-spinner>