<!-- Page Wrapper -->
<div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-lila sidebar sidebar-dark accordion" [class.fixed-style]="screenWidth >= 768" id="accordionSidebar">

        <!-- Sidebar - Brand -->
        <a *ngIf="!toggled && screenWidth >=768" class="sidebar-brand d-flex align-items-center justify-content-center"
            href="#">
            <div class="sidebar-brand-icon animated fadeInLeft">
                <img src="assets/images/personal_logo.png" alt="">
            </div>
            <!-- <div class="sidebar-brand-text mx-3 comfortaa">Personal</div> -->
        </a>

        <!-- Divider -->
        <!-- <hr class="sidebar-divider my-0"> -->

        <!-- Nav Item - Dashboard -->
        <li class="nav-item active">
            <a class="nav-link" href="#" style="padding: 12px 16px;">
                <i class="fas fa-home"></i>
                <span class="comfortaa">Página Principal</span></a>
        </li>

        <!-- Divider -->
        <!-- <hr class="sidebar-divider my-0"> -->

        <!-- Nav Item - Cargar Curriculum -->
        <li class="nav-item">
            <a class="nav-link" href="#" style="padding: 12px 16px;">
                <i class="fas fa-clipboard-list"></i>
                <span class="comfortaa">Cargar Currículum</span></a>
        </li>

        <!-- Divider -->
        <!-- <hr class="sidebar-divider my-0"> -->

        <!-- Nav Item - Mis postulaciones -->
        <li class="nav-item">
            <a class="nav-link" href="#" style="padding: 12px 16px;">
                <i class="fas fa-clipboard-check"></i>
                <span class="comfortaa">Postulaciones</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider">

        <!-- Heading -->
        <div *ngIf="screenWidth >= 768" class="sidebar-heading">
            Admin{{toggled?'.':'istración'}}
        </div>
        <div *ngIf="screenWidth < 768" class="sidebar-heading">
            Admin
        </div>

        <!-- Nav Item - Curriculums -->
        <li class="nav-item">
            <a class="nav-link" href="#" style="padding: 12px 16px;">
                <i class="fas fa-paste"></i>
                <span class="comfortaa">Currículums</span></a>
        </li>

        <!-- Nav Item - Ofertas Laborales -->
        <li class="nav-item">
            <a class="nav-link" href="#" style="padding: 12px 16px;">
                <i class="fas fa-briefcase"></i>
                <span class="comfortaa">Ofertas Laborales</span></a>
        </li>

        <!-- Nav Item - Ajustes -->
        <li class="nav-item">
            <a class="nav-link" href="#" style="padding: 12px 16px;">
                <i class="fas fa-cogs"></i>
                <span class="comfortaa">Ajustes</span></a>
        </li>

        <!-- Nav Item - Usuarios -->
        <li class="nav-item">
            <a class="nav-link" href="#" style="padding: 12px 16px;">
                <i class="fas fa-users"></i>
                <span class="comfortaa">Usuarios</span></a>
        </li>

        <!-- Divider -->
        <hr class="sidebar-divider d-none d-md-block">

        <!-- Sidebar Toggler (Sidebar) -->
        <div class="text-center d-none d-md-inline">
            <button (click)="toggleSideBar()" class="rounded-circle border-0" id="sidebarToggle"></button>
        </div>

    </ul>
    <!-- End of Sidebar -->

    <!-- Content Wrapper -->
    <div id="content-wrapper bg-white" class="d-flex flex-column" [class.side-no-toggled]="!toggled && screenWidth >= 768" [class.side-toggled]="toggled && screenWidth >=768">

        <!-- Main Content -->
        <div id="content">

            <!-- Topbar -->
            <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow-sm">

                <!-- Sidebar Toggle (Topbar) -->
                <button (click)="toggleSideBar()" id="sidebarToggleTop"
                    class="btn btn-link d-md-none rounded-circle mr-1">
                    <i class="fa fa-bars text-lila"></i>
                </button>

                <img *ngIf="toggled && screenWidth >= 768" class="animated fadeInLeft"
                    src="assets/images/personal_logo_rosado.png" style="width: 120px;" alt="">
                <h5 class="comfortaa-bold text-rosado my-auto" *ngIf="screenWidth < 768">Personal</h5>
                <!-- Topbar Navbar -->
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item hover-lila">
                        <a routerLink="/register" class="nav-link nav-option" href="#" style="cursor: pointer;">
                            <span class="mr d-none d-lg-inline comfortaa text-rosado font-14">Registrarse</span>
                        </a>
                    </li>
                    <div class="topbar-divider d-none d-sm-block"></div>
                    <li class="nav-item hover-lila">
                        <a routerLink="/login" class="nav-link nav-option" href="#" style="cursor: pointer;">
                            <span class="mr-2 d-none d-lg-inline comfortaa text-rosado font-14">Iniciar Sesión</span>
                            <!-- <i class="fas fa-sign-in-alt fa-lg text-rosado"></i> -->
                        </a>
                    </li>
                    <div *ngIf="false" class="topbar-divider d-none d-sm-block"></div>

                    <!-- Nav Item - User Information -->
                    <li *ngIf="false" class="nav-item dropdown no-arrow">
                        <a class="nav-link dropdown-toggle" href="#" id="userDropdown" role="button"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <span class="mr-2 d-none d-lg-inline text-gray-600 small">Valerie Luna</span>
                            <i class="fas fa-user-circle fa-lg"></i>
                        </a>
                        <!-- Dropdown - User Information -->
                        <div class="dropdown-menu dropdown-menu-right shadow animated--grow-in"
                            aria-labelledby="userDropdown">
                            <a class="dropdown-item" href="#">
                                <i class="fas fa-user fa-sm fa-fw mr-2 text-gray-400"></i>
                                Perfil
                            </a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="#" data-toggle="modal" data-target="#logoutModal">
                                <i class="fas fa-sign-out-alt fa-sm fa-fw mr-2 text-gray-400"></i>
                                Logout
                            </a>
                        </div>
                    </li>

                </ul>

            </nav>
            <!-- End of Topbar -->

            <!-- Begin Page Content -->
            <div class="container-fluid">
                <!-- Content Row -->
                <div class="row">
                    <div class="col-12">
                        <router-outlet></router-outlet>
                    </div>
                </div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <!-- <footer class="sticky-footer bg-rosado">
            <div class="container my-auto">
                <div class="copyright text-center my-auto">
                    <span>Copyright &copy; Personal</span>
                </div>
            </div>
        </footer> -->

        <!-- <footer class="sticky-footer page-footer font-small pt-2 bg-rosado">

            <div class="container-fluid text-center text-md-left">

                <div class="row">

                    <div class="col-12 mb-2">
                        <div class="text-center">
                            <img src="assets/images/personal_logo.png" alt="">
                            <p class="platform-regular mb-0 text-white">Hagamos que todo suceda</p>
                        </div>
                    </div>
                    <div class="col-3 col-sm-2">
                        <div class="text-center">
                            <a href="#"><i class="fab fa-facebook-f fa-2x text-white"></i></a>
                        </div>
                    </div>
                    <div class="col-3 col-sm-2">
                        <div class="text-center">
                            <a href="#"><i class="fab fa-twitter fa-2x text-white"></i></a>
                        </div>
                    </div>
                    <div class="col-3 col-sm-2">
                        <div class="text-center">
                            <a href="#"><i class="fab fa-instagram fa-2x text-white"></i></a>
                        </div>
                    </div>
                    <div class="col-3 col-sm-2">
                        <div class="text-center">
                            <a href="#"><i class="fab fa-youtube fa-2x text-white"></i></a>
                        </div>
                    </div>
                    <div class="col-3 offset-3 col-sm-2">
                        <div class="text-center">
                            <a href="#"><i class="fab fa-spotify fa-2x text-white"></i></a>
                        </div>
                    </div>
                    <div class="col-3 col-sm-2">
                        <div class="text-center">
                            <a href="#"><i class="fab fa-foursquare fa-2x text-white"></i></a>
                        </div>
                    </div>
                </div>

            </div>
            <div class="footer-copyright text-center pb-3 text-white comfortaa">
                Máximo Lira 522 c/ Avda. España - Asunción, Paraguay - RA +595 971 100000
            </div>

        </footer> -->

    </div>
    <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->